*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#main{
    height: 120vh;

    scroll-behavior: smooth;
}
@font-face{
    font-family: a;
    src: url(jost-variable.ttf);
}
@font-face {
    font-family: b;
    src: url(Super\ Squad.ttf);
}
#page1{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: 100vw;
    background-color: yellowgreen;
}
.page1-score{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25vh;
    width: 50vw;
    background-color: yellowgreen;
    border-radius: 10px;
    border: 2px solid white;
    align-self: center;
    color: white;
    margin-top: 3vw;
}
.page1-score>h1{
    font-family: a;
    margin-left: 10px;
    font-weight: 600;
   

    
}
.pscore{
    height: 80%;
    width: 25%;
    background-color:rgba(255, 255, 255, 0.821);
    border-radius: 10px;
    text-align: center;
}
.cscore{
    height: 80%;
    width: 25%;
    background-color: rgba(255, 255, 255, 0.852);
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
}
.pscore>h3{
    color: black;
    font-family: a;
}
.cscore>h3{
    color: black;
    font-family: a;
}
.pscore>h1{
    color: black;
    font-family: a;
    font-size: 3.5vw;
    font-weight: 800;
}
.cscore>h1{
    color: black;
    font-family: a;
    font-size: 3.5vw;
    font-weight: 800;
}
.page1-icon{
    height: 80vh;
    position: relative;
    width: 50vw;
    align-self: self-start;
    margin-top: 3vw;

}
.page1-icon>img{
    height: 20%;
}
#rock-cont{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: vw;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    color: aliceblue;
    margin-left: 18vw;
}

#rock-cont:hover{
    filter: brightness(1.5); 
    transition: filter 0.3s ease-in-out; 
}
#paper-cont:hover{
    filter: brightness(1.5); 
    transition: filter 0.3s ease-in-out; 
}
#scissor-cont:hover{
    filter: brightness(1.5); 
    transition: filter 0.3s ease-in-out; 
}

.rock{
    position: absolute;
    margin-top: 4vw;
    cursor: pointer;
    

}

#paper-cont{
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: -30vw;
    cursor: pointer;
}
.paper{
    position: absolute;
    margin-top: 4vw;
    cursor: pointer;
}
#scissor-cont{
    display: flex;
    position: relative;
    justify-content: center;
    margin-left: 30vw;
    margin-top: -14vw;
    cursor: pointer;
}
.scissor{
    position: absolute;
    margin-top: 4vw;
    cursor: pointer;
}

.page1-inner{
    position: absolute;
    bottom: 380px;
    width: 38vw;
    margin-left: 60vw;
    

}
#rules{
    position: absolute;
    padding: 0px 5px;
    overflow: hidden;
    height: 50vh;
    width: 25vw;
    background-color: blueviolet;
    margin-left: 7vw;
    border: 5px  solid white;
    border-radius: 10px;
}

#rules>p{
    margin-top: 1.5vh;
    font-family: a;
    margin-left: 1.7vw;
}
#rulesbtn{
    color:white;
    background-color: yellowgreen;
    height: 3vw;
    width: 8vw;
    border-radius: 10px;
    border: 4px solid white;
    margin-top: 15vw;
    margin-left: -5vw;
    cursor: pointer;

}
#rulesbtn:hover{
    filter:brightness(1.5);
    transition: filter 0.3s ease-out;
    color: black;
    
}
#close{
    position: absolute;
    background-color: red;
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    margin-left: 31vw;
    margin-top: -1vw;
    cursor: pointer;
    border: 1px solid black;

}
#close:hover{
    filter:brightness(5);
    transition: filter 0.3s ease-out;
    color: white;

}
#close>img{
    height: 2vw;
}
.btn{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    margin-left: 300px;
}
#rulesbox{
    display: none;

    position: absolute;
}
#rules>li{
    margin-left: 5px;
    list-style-type: square;
    color:white;


}
.btn2{
    display: flex;
    justify-content: flex-end;
    position: fixed;
    margin-left: 420px;
}




.page1-icon #result{
    
    font-family: b;
    font-size: 4vw;

}
#selections{
    width: 100vw;
    text-align: center

}
#selections #player-selection{
    font-family: a;
    font-size: 2.5vw;

}
#selections #computer-selection{
    font-family: a;
    font-size: 2.5vw;

}

    

